CONFIG_KCONFIG_BOARD_HOMIE_SWITCHY=y
CONFIG_BOARD_HOMIE_SWITCHY_SW0=y
CONFIG_BOARD_HOMIE_SWITCHY_SW1=y
CONFIG_BOARD_HOMIE_SWITCHY_SW2=y
CONFIG_BOARD_HOMIE_SWITCHY_SW3=y
CONFIG_BOARD_HOMIE_SWITCHY_SW4=y
CONFIG_BOARD_HOMIE_SWITCHY_DEBOUNCE=50000
CONFIG_BOARD_HOMIE_SWITCHY_FREQ=128

CONFIG_KCONFIG_DIMMABLE_LED=y
CONFIG_DIMMABLE_LED_STEP_COUNT=4
CONFIG_DIMMABLE_LED_STEP_DURATION=40
